body{
    font-family: Verdana , Tahoma, Impact, fantasy, helvetica, arial;
    line-height:1.5;
    text-align:center; 
    font-size: 18px;
    
    
    
}
header{
    background: rgb(208, 25, 38);
    border-bottom: black 5px solid;
    min-height: 120px;
    font-family: cursive;

}
header a{
    color: white;
    text-decoration:none;
    
}
li{
	display:inline;
}
header h1{
	float:left;
	margin-top: 50px;
}
header li{
	display: inline;
	margin:10px;
	font-size:20px;
	color:white;
}
nav{
	float:right;
	margin-top: 50px;
    
}
header a:hover{
    color:magenta;
    font-weight:bold;
}
.highlight{
    color:rgb(0, 162, 254);
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
footer{
    background:rgb(208, 25, 38);
    border-bottom: black 5px solid;
    margin-top:10px;
    border-top: black 3px solid;
    
}

#container2 h5{
    color:white;
}
#container2 h3{
    font-weight:bold;
    
}